<div class='globe-container'>
  <canvas id='rotatingGlobe'></canvas>
  <div class='logo-container'>
    <img alt='Global Citizen logo' src='https://static-qa.globalcitizen.org/static/img/festival/gc-logo.png'>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    globe({widthTranslation: 0.5});
  });
</script>
