/* This file is for your main application css. */

@font-face {
    font-family: 'MarkWebPro-Book-W03-Regular';
    src: url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Book-W03-Regular.eot'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Book-W03-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Book-W03-Regular.woff') format('woff'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Book-W03-Regular.woff2') format('woff2'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Book-W03-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MarkWebPro-BookItalic-W03-Rg';
    src: url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-BookItalic-W03-Rg.eot'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-BookItalic-W03-Rg.eot?#iefix') format('embedded-opentype'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-BookItalic-W03-Rg.woff') format('woff'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-BookItalic-W03-Rg.woff2') format('woff2'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-BookItalic-W03-Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'MarkWebPro-Heavy-W03-Regular';
    src: url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Heavy-W03-Regular.eot'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Heavy-W03-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Heavy-W03-Regular.woff') format('woff'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Heavy-W03-Regular.woff2') format('woff2'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-Heavy-W03-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MarkWebPro-HeavyItalic-W03-Rg';
    src: url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-HeavyItalic-W03-Rg.eot'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-HeavyItalic-W03-Rg.eot?#iefix') format('embedded-opentype'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-HeavyItalic-W03-Rg.woff') format('woff'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-HeavyItalic-W03-Rg.woff2') format('woff2'),
    url('https://static.globalcitizen.org/static/css/fonts/MarkWebPro-HeavyItalic-W03-Rg.ttf') format('truetype');
}

html, body {
  font-family: 'MarkWebPro-Book-W03-Regular';
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body:after {
  content: "";
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url("http://ux.globalcitizen.org/static/img/festival/brand-campaign_background.png");
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.globe-container {
  text-align: center;
}

.actions-container {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.actions-container h1 {
    font-family: 'MarkWebPro-Heavy-W03-Regular';
    color: #d62027;
    font-size: 7rem;
}

.activity-feed-container {
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.activity-feed-container ul {
  color: #d62027;
  text-align: left;
}

li > img {
  width: 5rem;
}

li {
  list-style-type: none;
  margin: 1rem 0;
}

.logo-container {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.logo-container img {
  width: 8rem;
}

canvas {
  cursor: move;
}

.draggable {
  cursor: move;
}